pregunta1{
background-color: rgb(235, 135, 78);
}

pregunta2{
background-color: rgb(108, 48, 163);
}

pregunta3y4{ 
    background-color: rgb(235, 87, 87);
}


pregunta6{ 
    background-color: rgb(242, 245, 96);
}

pregunta7{ 
    background-color: rgb(53, 153, 184);
}

pregunta8{ 
    background-color: rgb(230, 105, 182);
}

